<div class="row">
   <div class="tittle">
    <h1>Proyectos</h1>
   </div>
    <div class="container">
        <div class="parte1">
           <h1>Pagina Compras</h1>
           <p>Este proyecto de pagina es parte del curso de Dalto en el cual utilizando JavaScript realize una pagina 
            en la cual se introducia un producto (es este caso solo llaves), al cual se le genera una id automaticamente y
            manualmente desde una base de datos se añade el precio y nombre del producto.
           </p>
        </div>
        <div class="parte2">
           <img src="../../../assets/imjklñjkjklage.png" class="img-fluid img-proyecto">
        </div>

        <div  class="parte1">
            <h1>Pagina Starbucks</h1>
            <p>En este proyecto realize una pagina la cual tiene un login y la posibilidad de crear una cuenta, tambien cuenta con 
               noticias o articulos los cuales se pueden actualizar facilmente, ademas tiene menus varios donde se pueden ver los productos
               de tal empresa y conseguir codigos para usar en la misma.
            </p>
         </div>
   
         <div class="parte2">
            <img src="../../../assets/image.png" class="img-fluid img-proyecto">
         </div>

         <div  class="parte1">
            <h1>Portfolio de Prueba</h1>
            <p>Este proyecto es la primera prueba que realize de un portfolio en el cual se puede ver una descripcion mia, mis experiencias, lo que busco personalmente en un 
              trabajo y demas, tambien cuenta con una seccion aparte donde se encuentran distintas formas de contactarme 
            </p>
         </div>
         <div class="parte2">
            <img src="../../../assets/fnmfhikfnge.png" class="img-fluid img-proyecto">
         </div>

    </div>
</div>