.row{
    margin: -8px;
    font-family: 'Open Sans', sans-serif;
    }
    div{
        background: #ffffff;
       
    }
    h1,h2{
        display: inline;
        margin: 0.5em;
        color:rgb(0, 0, 0);
    }

  .mumu{
    height: 200px;
    margin: 1em;
  }

  td{
    color: rgb(0, 0, 0) ;
  }