.row{
    margin: -8px;
    font-family: 'Open Sans', sans-serif;
}

 .texto{
    color: aliceblue;
 }
div{
    background-color: #36495c;
    text-align: center;
}
p{
    color: aliceblue;
}
h1{
    color: aliceblue;
}

@media(min-width: 576px){
    #fotoperfil{
        position:absolute;
        width: 200px;
        border-radius: 100%;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
        left: 3%;
        top: 650px;
        height: 200px;

    }
}
@media(max-width: 575px){
    #fotoperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(126, 126, 126);
        left: 35%;
        top: 700px;
        
    }
}



#nombre{
    font-weight: bold;
    margin-top: 2%;
    margin-right: 65%;
}


#titulo{
    font-weight: bold;
    margin-top: 2%;
    margin-right: 65%
}