
<div class="row">
    <div class="">
       <img src="../../../assets/f1.jpg" class="" id="fotoperfil">
    </div>
    <div class="">
       <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
       <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="">
     <span>
         <h1>Acerca de mi</h1>
         <p>Soy un estudiante de programacion que busca llegar a un nivel alto de aprendizaje, este es mi primer portfolio funcional que es un proyecto integrador de #ArgentinaPrograma 3</p>
 
     </span>
    </div>
 </div>
 
 