
.habilidades{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.row{
    padding: 20px;
    margin: -8px;
    font-family: 'Open Sans', sans-serif;
    
}
@media(max-width: 576px){
    .habilidades{
    display: inline-flex;
    flex-direction: column;
    
    }

    }

h1{
    color: rgb(0, 0, 0);
}
