.row{
    background: #6c9dd3;
    padding: 20px;
    margin: -8px;
    font-family: 'Open Sans', sans-serif;
    
}
.habilidades{
    display: inline-flex;
}

@media(max-width: 576px){
    .habilidades{
    display: inline-flex;
    flex-direction: column;
    }

    }