<div class="row">

    <h1>Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>
    <div class="habilidades" *ngFor="let skill of skill">
            <circle-progress 
            [percent]="(skill.porcentaje)" 
            [radius]="100" 
            [titleColor]="'#00000'"
            [title]="(skill.nombre)" 
            [imageSrc]="''"
            [showImage]="false"
            [showTitle]="true"
            [titleFontSize]="'25px'"
            [subtitle]="''"
            [showSubtitle]="false"
            [showUnits]="false" 
            [imageHeight]="80" 
            [imageWidth]="80" 
            [outerStrokeWidth]="5" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#1766c0'"
            [innerStrokeColor]="'#363636'"
            [animation]="true"
            [animationDuration]="700"></circle-progress>
           <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i> </button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i> </button>
            </td>
     </div>
</div>