.row {
    margin: -8px;
    font-family: 'Open Sans', sans-serif;
    }
    div{
        background: #ffffff;
       
    }
    h1{
        display: inline;
        color: #000000;
        padding-top: 20px;
        margin: 0.5em;
    }

    .table{
        color: rgb(0, 0, 0);
    }

    

