<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoArg">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/Chapa007"><img src="../../../assets/pngegg.png" id="github"></a>
                <a href="https://www.instagram.com/luca_desimone_/"><img src="../../../assets/[CITYPNG.COM]HD White Outline Round Instagram Logo Icon PNG - 1600x1600.png" id="instagram"></a>
                <a href="https://www.linkedin.com/in/luca-desimone-492424251/"><img src="../../../assets/[CITYPNG.COM]HD White Outline Linkedin Round Icon PNG - 1700x1700.png" id="linkedin"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>

                <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>
            </div>
            
        </div>
    </div>
</div>


